@model BookShop.Models.Order

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Order</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Orderdate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Orderdate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DeliveryDate)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DeliveryDate)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.States)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.States)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Remark)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Remark)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Delivery.Consignee)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Delivery.Consignee)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.OrdersID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
