
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <style>        
         #zhu {width:1120px;height:500px;margin:0px auto;border:1px solid #808080;}
         #zhong {text-align:center;}
         #zhong {margin-top:20px;}
         #zhong p{margin-top:20px;}
         .kuo  {width:400px;height:32px;}
         .tian{width:400px;height:32px;background-color:red;color:white;border:none;}
         .img {margin-left:500px;}
    </style>
</head>
<body>
    @model BookShop.Models.Product
    <div id="zhu">
        <form action="/Admin/Detail" method="post" id="zhong">
            <p>
                <label>Product name</label>
                <input type="text" class="kuo" name="Title" value="@Model.Title" />
            </p>
            <p>
                <label>
                    Product Type
                </label>
                <input type="text" class="kuo" name="CateID" value="@Model.CateID" />

            </p>
            <p>
                <label>
                    Original price
                </label>
                <input type="text" class="kuo" name="MarketPrice" value="@Model.MarketPrice" />
            </p>
            <p>
                <label>
                    Current price
                </label>
                <input type="text" class="kuo" name="Price" value="@Model.Price" />
            </p>
            <p>
                <label>
                    Product Description
                </label>
                <input type="text" class="kuo" name="Content" value="@Model.Content" />
            </p>
            <p>
                <label>
                    Listing time
                </label>
                <input type="datetime-local" class="kuo" name="PostTime" value="@Model.PostTime" />
            </p>
            <p>
                <label>
                    Inventory quantity
                </label>
                <input type="text" name="Stock" class="kuo" value="@Model.Stock" />
            </p>
            <p>
                <label>
                    picture
                </label>
                <input type="file" name="Photo" class="img" value="@Model.Photo" />
            </p>
            <input type="submit" class="tian" value="修改" />
        </form>

    </div>
</body>
</html>
