@model IEnumerable<BookShop.Models.Product>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />  
    <title>Index</title>
     <style>
         #logo ul li:nth-child(2) a{font-weight:bold;color:black ;}
        #houzhu {width:1000px;height:500px;margin:0px auto;border:1px solid black;}
        tr td img{width:20px;height:40px;}
        #head {width:300px;height:50px;}
        #head input{border:3px solid red;background:#fff;outline:none;}
        #keyword {width:220px;height:36px;}
        #put-in {width:50px;height:36px;color:white;font-size:15px;position:absolute;}
    </style>
</head>
<body>
    
    <div id="houzhu " class="container">
        <form action="/Products/Index" method="post" id="head">
            <input type="text" name="pname" style="color:#fef8f8;" placeholder="Search for store products" id="keyword" value="" />
            <input type="submit" id="put-in" style=" background-color:red;" value="find" />
        </form>        
        <table class="table table-striped table-bordered">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MarketPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Content)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PostTime)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Stock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Photo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Category.CateName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MarketPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PostTime)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Photo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.CateName)
                    </td>
                    <td>
                        @Html.ActionLink("edit", "Edit", new { id = item.ProductID }) |
                        @Html.ActionLink("view", "Details", new { id = item.ProductID }) |
                        @Html.ActionLink("delete", "Delete", new { id = item.ProductID })
                    </td>
                </tr>
            }

        </table>
        </div>
</body>
</html>
